

/* Optional heading styling */
.h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: Criteriacf, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.16667;
    text-align: center;
}
